{% extends "StockTrading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-7">
            {{ form.company_name|as_crispy_field }}
        </div>
        <div class="col-md-5">
            {{ form.short_form|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {{ form.price|as_crispy_field }}
        </div>
         <div class="col-md-7">
            {{ form.price_date|as_crispy_field }}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-plus-square"></i> ADD </button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'stock_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-bars"></i> Back to list
            </a>
        </div>
    </div>
</form>
{% endblock content %}